<div class="row">
       
    <div class="container">
        <ul>
            
            <li>Bus Id: {{llbService.data[0]?.BusId}} </li>

            <li>Gw Id: {{llbService.data[0]?.GwId}} </li>
            
            <li>Position timestamp: {{llbService.data[0]?.tsp | date:'d.MM.yyyy, HH:mm:ss'}} </li>

            <li>Vehicle total driven distance (m):
                <span *ngIf="isNullOrUndefined(llbService.data[1]?.can?.VDHR_HghRslutionTotalVehicleDistance); else totalVehicleDistance"><n-a></n-a></span>
                <ng-template #totalVehicleDistance> {{llbService.data[1]?.can?.VDHR_HghRslutionTotalVehicleDistance}} </ng-template>
                <br>
            <!--//Resolution 5 m -->
            </li>
        </ul>
    </div>

    <div class="container">
        
        Status of doors:
                <!-- showing the positions of the doors
                //0 = at least 1 door open,
                1 = last door closing,
                2 = all doors close -->
        <span *ngIf="llbService.data[0]?.can?.DC1_PosOfDoors == 2">Closed</span>
        <span *ngIf="llbService.data[0]?.can?.DC1_PosOfDoors == 1 || llbService.data[0]?.can?.DC1_PosOfDoors == 0">Open</span>
        <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.DC1_PosOfDoors)"><n-a></n-a></span>
        <br>
        
        <img *ngIf="llbService.data[0]?.can?.DC1_PosOfDoors == 2" src="assets/img/closed.png" width="90%" alt="Closed Doors" border="1">
        <img *ngIf="llbService.data[0]?.can?.DC1_PosOfDoors == 1 || llbService.data[0]?.can?.DC1_PosOfDoors == 0" src="assets/img/open.png" width="90%" alt="Open Doors" border="1">

    </div>
    <div class="container">
        
        Wheel chair access ramp status:
        <!--
            //0 = ramp in the bus, 1 = ramp out
        -->
        <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.DC1_Ramp_WheelChairLiftPos)"><n-a></n-a></span>
        <span *ngIf="llbService.data[0]?.can?.DC1_Ramp_WheelChairLiftPos == 0">Ramp in the bus.</span>
        <span *ngIf="llbService.data[0]?.can?.DC1_Ramp_WheelChairLiftPos == 1">Ramp out.</span>

    </div>
</div>

<div class="row">
    <div class="container">
        
        <!-- useless
            <li>Vehicle ID: {{llbService.data[0]?.can?.VI_VehicleIdentificationNumber}} <br>
            //Currently only sending value "0.1-"</li><br>
        -->

        Vehicle axle weight, axle identifier:
        <br>
            <!--
            Indicates the axle of the measured axle weight in VW_AxleWeight
            Value 0 = front axle
            Value 1 = rear axle
            -->
        <span *ngIf="llbService.data[0]?.can?.VW_AxleLocation == 0">Front Axle</span>
        <span *ngIf="llbService.data[0]?.can?.VW_AxleLocation == 1">Rear Axle</span>
        <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.VW_AxleLocation)" ><n-a></n-a></span>
    </div>

    <div class="container">
        <n-a-chart *ngIf="isNullOrUndefined(llbService.data[0]?.can?.VW_AxleWeight)"></n-a-chart>
        <ng-container *ngIf="!isNullOrUndefined(llbService.data[0]?.can?.VW_AxleWeight)">
            Vehicle axle weight:
            
           {{llbService.data[0]?.can?.VW_AxleWeight}} kg <br>
            Measured axle weight (from air suspension, not very accurate).        
            </ng-container>
    </div>
    <div class="container"> 
        <n-a-chart *ngIf="isNullOrUndefined(llbService.data[0]?.can?.CVW_GrossCombinationVehicleWeight)"></n-a-chart>
        <ng-container *ngIf="!isNullOrUndefined(llbService.data[0]?.can?.CVW_GrossCombinationVehicleWeight)">
                        
            Gross Combination Weight: {{llbService.data[0]?.can.CVW_GrossCombinationVehicleWeight}} kg
            <app-linechart data="{{llbService.data[0]?.can?.CVW_GrossCombinationVehicleWeight}}"></app-linechart>  
        </ng-container>
    </div>
</div>
