
<ul>
	<li>GPS timestamp: {{llbService.data[0]?.tsl}} </li><br>
	<li>Estimated timestamp error: {{llbService.data[0]?.ept}}</li>
	<li>Latitude: {{llbService.data[0]?.lat}}</li>
	<li>Longitude: {{llbService.data[0]?.lon}}</li>
	<li>Estimated longitude error (m): {{llbService.data[0]?.epx}} </li><br>

	<li>Altitude: {{llbService.data[0]?.alt}}</li>
	<li>Estimated vertical error (m): {{llbService.data[0]?.epv}} </li><br>

	<li>Estimated timestamp error (ms): {{llbService.data[0]?.ept}} </li><br>

	<li>Course over true north (m): {{llbService.data[0]?.trc}} </li><br>

	<li>NMEA mode: {{llbService.data[0]?.mod}} <br>
	//0=no mode value yet seen 1=no fix 2=2D 3=3D</li><br>
</ul>

<agm-map [latitude]="llbService.data[0]?.lat" [longitude]="llbService.data[0]?.lon">
	<agm-marker [latitude]="llbService.data[0]?.lat" [longitude]="llbService.data[0]?.lon"></agm-marker>
</agm-map>


<p>Climb rate</p>
<app-linechart data="{{llbService.data[0]?.clm}}"></app-linechart>

<p>Altitude</p>
<app-linechart data="{{llbService.data[0]?.alt}}"></app-linechart>

Location

