<ul>
	<li>Latitude: {{llbService.data?.lat}}</li>
	<li>Longitude: {{llbService.data?.lon}}</li>
	<li>Altitude: {{llbService.data?.alt}}</li>
	<li>Longitude error (m): {{llbService.data?.epx}}</li>
	<li>Vertical error (m): {{llbService.data?.epv}}</li>
	<li>Estimated timestamp error: {{llbService.data?.ept}}</li>
	<li>Climb or sink rate, meters per second: {{llbService.data?.clm}} </li>
	<li>Course over ground, degrees from true north: {{llbService.data?.trc}} </li>
	<li>NMEA mode {{llbService.data?.mod}} </li>
</ul>
<agm-map [latitude]="llbService.data?.lat" [longitude]="llbService.data?.lon">
	<agm-marker [latitude]="llbService.data?.lat" [longitude]="llbService.data?.lon"></agm-marker>
</agm-map>


<p>Climb rate</p>
<app-linechart data="{{llbService.data?.clm}}"></app-linechart>

<p>Altitude</p>
<app-linechart data="{{llbService.data?.alt}}"></app-linechart>