<div class="row">
	<ng-container class="container" id="map" *ngIf="isLocationDataValid()">
		<agm-map [latitude]="llbService.data[0]?.lat" [longitude]="llbService.data[0]?.lon" 
			[zoom]="15" [mapDraggable]="false" [streetViewControl]="false" [gestureHandling]="none"
			[disableDoubleClickZoom]="true" [scrollwheel] = "false" [keyboardShortcuts] = "false" >
			<agm-marker [latitude]="llbService.data[0]?.lat" [longitude]="llbService.data[0]?.lon" 
			[iconUrl]="'../../assets/img/bus-marker-32.png'" [label]="llbService._vehicleId">
				<agm-info-window [disableAutoPan]="true">
					<ul>
						<li><span>Latitude: {{llbService.data[0]?.lat}}</span></li>
						<li><span>Longitude: {{llbService.data[0]?.lon}}</span></li>
						<li><span>Horizontal error: {{llbService.data[0]?.epx}}m</span></li>
					</ul>
				</agm-info-window>
			</agm-marker>
		</agm-map>
	</ng-container>
	
</div>

<div class="row">
	<div class="container">
		<span class="header">Climb rate</span>
		<n-a-chart *ngIf="!isClimbRateValid() || !isAltitudeValid()"></n-a-chart>
        <ng-container *ngIf="isClimbRateValid() && isAltitudeValid()">
			<app-linechart [data]="llbService.data[0]?.clm"></app-linechart>
		</ng-container>
	</div>
	
	<div class="container">
		<span class="header">Altitude</span>
		<n-a-chart *ngIf="!isAltitudeValid()"></n-a-chart>
        <ng-container *ngIf="isAltitudeValid()">
			<app-linechart [data]="llbService.data[0]?.alt"></app-linechart>     
		</ng-container>
	</div>

	<div class="container">
		<ul>
			<li>
				<span>Altitude: </span>
				<span *ngIf="!isAltitudeValid()"><n-a></n-a></span>
				<span *ngIf="isAltitudeValid()">{{llbService.data[0]?.alt | number : '1.1-1'}}m</span>
			</li>
			<li>
				<span>Estimated vertical error: </span>
				<span *ngIf="!isVerticalErrorValid()"><n-a></n-a></span>
				<span *ngIf="isVerticalErrorValid()">{{llbService.data[0]?.epv | number : '1.1-1'}}m</span>
			</li>
			<li>
				<span>NMEA mode: </span>
				<span *ngIf="getNmeaMode() === 'unknown'"><n-a></n-a></span>
				<span *ngIf="getNmeaMode() !== 'unknown'">{{getNmeaMode()}}</span>
			</li>
			<li><br></li>
			<li>
				<span>Course over true north: </span>
				<span *ngIf="!isCompassValid()"><n-a></n-a></span>
				<span *ngIf="isCompassValid()">{{llbService.data[0]?.trc | number : '1.1-1'}}°</span>
				<br>
				<img id="compass" src="../../assets/img/compass.png" *ngIf="isCompassValid()">
			</li>
		</ul>
	</div>
</div>

