<div class="row">
  <div class="container">
    <ul>
      <li>
          <!-- Real gauge -->
        <span class="header" *ngIf="!isRpmValid()">Electric motor rpm: <n-a></n-a></span>
        <span class="header" *ngIf="isRpmValid()">Electric motor rpm:</span>
        <rpm-gauge *ngIf="isRpmValid()" [data]='gaugeValue'></rpm-gauge>
        <!-- Old Gauge for RPM
        <span *ngIf="!isRpmValid()">Electric motor rpm: <n-a></n-a></span>
        <span *ngIf="isRpmValid()">Electric motor rpm:</span>
        <mwl-gauge
          [max]="10000"
          [dialStartAngle]="180"
          [dialEndAngle]="0"
          [value]="gaugeValue"
          [animated]="true"
          [animationDuration]="0.5">
        </mwl-gauge>
        -->
	    </li>
	  </ul>
  </div>
  <div class="container">
    <ul>
      <li>
        <span class="header">Pressures (kPa):</span>
      </li>
      <li>
        <span>Air suspension supply: </span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.AIR1_AirSuspensionSupplyPress)"><n-a></n-a></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.AIR1_AirSuspensionSupplyPress)">
          {{llbService.data[0]?.can?.AIR1_AirSuspensionSupplyPress}}
        </span>
      </li>
      <li>
        <span>Compressed air tank: </span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.AIR1_PneumaticSupplyPress)"><n-a></n-a></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.AIR1_PneumaticSupplyPress)">
            {{llbService.data[0]?.can?.AIR1_PneumaticSupplyPress}}
        </span>
      </li>
      <li>
        <span>Parking brake circuit: </span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.AIR1_ParkingAnd_OrTrailerAirPress)"><n-a></n-a></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.AIR1_ParkingAnd_OrTrailerAirPress)">
            {{llbService.data[0]?.can?.AIR1_ParkingAnd_OrTrailerAirPress}}
        </span>
      </li>
      <li>
        <span>Rear axle brake circuit: </span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.AIR1_ServiceBrakeAirPressCircuit1)"><n-a></n-a></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.AIR1_ServiceBrakeAirPressCircuit1)">
            {{llbService.data[0]?.can?.AIR1_ServiceBrakeAirPressCircuit1}}
        </span>
      </li>
      <li>
        <span>Front axle brake circuit: </span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.AIR1_ServiceBrakeAirPressCircuit2)"><n-a></n-a></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.AIR1_ServiceBrakeAirPressCircuit2)">
            {{llbService.data[0]?.can?.AIR1_ServiceBrakeAirPressCircuit2}}
        </span>
      </li>
    </ul>
  </div>
  <div class="container">

  </div>
</div>
<div class="row">
    
    <div class="container">
        <span class="header" id="temps">Temperatures (°C):</span>
        <span>Drive motor:</span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.TEMPERATURE_DriveMotor)"><n-a-chart></n-a-chart></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.TEMPERATURE_DriveMotor)">
            {{llbService.data[0]?.can?.TEMPERATURE_DriveMotor}}
            <temp-chart [data]="llbService.data[0]?.can?.TEMPERATURE_DriveMotor"></temp-chart>
        </span>
    </div>
    <div class="container">
        
        <span>Drive inverter:</span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.TEMPERATURE_DriveInverter)"><n-a-chart></n-a-chart></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.TEMPERATURE_DriveInverter)">
            {{llbService.data[0]?.can?.TEMPERATURE_DriveInverter}}
            <temp-chart [data]="llbService.data[0]?.can?.TEMPERATURE_DriveInverter"></temp-chart>
        </span>
    </div>
    <div class="container">
        <span>Motor coolant: </span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.ET1_MotorCoolantTemp)"><n-a-chart></n-a-chart></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.ET1_MotorCoolantTemp)">
            {{llbService.data[0]?.can?.ET1_MotorCoolantTemp}}
            <temp-chart [data]="llbService.data[0]?.can?.ET1_MotorCoolantTemp"></temp-chart>
        </span>
        
    </div>
</div>
<div class="row">
  <div class="container">
    <ul>
      <li>
        <span>Total hours of operation of the drive motor (h): </span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.HOURS_MotorTotalHoursOfOperation)"><n-a></n-a></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.HOURS_MotorTotalHoursOfOperation)">
            {{llbService.data[0]?.can?.HOURS_MotorTotalHoursOfOperation}} 
        </span>
      </li>
      <li>
        <span>Motor acceleration limiter status: </span>
        <span *ngIf="llbService.isLiveData() && llbService.data[0]?.can?.MOTOR_AccelerationLimit == 0" class="red">OFF</span>
        <span *ngIf="llbService.isLiveData() && llbService.data[0]?.can?.MOTOR_AccelerationLimit == 1" class="green">ON</span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.MOTOR_AccelerationLimit)">
        <n-a></n-a></span>
      <!-- //0 = limiter off, 1 = limiter active -->
      </li>
      <li>
        <span>Air compressor status: </span>
        <span *ngIf="llbService.isLiveData() && llbService.data[0]?.can?.AIR1_AirCompressorStatus == 0" class="red">OFF</span>
        <span *ngIf="llbService.isLiveData() && llbService.data[0]?.can?.AIR1_AirCompressorStatus == 1" class="green">ON</span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.AIR1_AirCompressorStatus)">
        <n-a></n-a></span>
      <!-- //0=off and 1=running -->
      </li>
      <li>
        <span>Slip limiter status: </span>
        <span *ngIf="llbService.isLiveData() && llbService.data[0]?.can?.MOTOR_SlipLimit == 0" class="red">OFF</span>
        <span *ngIf="llbService.isLiveData() && llbService.data[0]?.can?.MOTOR_SlipLimit == 1" class="green">ON</span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.MOTOR_SlipLimit)">
        <n-a></n-a></span>
      <!-- //0 = off, 1 = active -->
      </li>
    </ul>
  </div>
  <div class="container">
    <ul>
        <span class="header">Motor information:</span>
      <li>
        <span>Motor instantaneous torque (Nm): </span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.MOTOR_MotorTorque)"><n-a></n-a></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.MOTOR_MotorTorque)">
            {{llbService.data[0]?.can?.MOTOR_MotorTorque}}
        </span>
      <!-- //Range 3000...-3000 Nm -->
      </li>
      <li>
        <span>Motor requested torque (Nm): </span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.MOTOR_MotorTorqueReference)"><n-a></n-a></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.MOTOR_MotorTorqueReference)">
            {{llbService.data[0]?.can?.MOTOR_MotorTorqueReference}}
          </span>
      <!-- //Range 3000...-3000 Nm -->
      </li>
      <li>
        <span>Motor instantaneous power (kW): </span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.MOTOR_Power)"><n-a></n-a></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.MOTOR_Power)">
            {{llbService.data[0]?.can?.MOTOR_Power}}</span>
      <!-- //Range 300...-300 kW -->
      </li>
    </ul>
  </div>
  <div class="container">
    <ul>
      <li>
	      <span>Cabin interior temp (°C): </span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.AMB_CabInteriorTemp)"><n-a></n-a></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.AMB_CabInteriorTemp)">
            {{llbService.data[0]?.can?.AMB_CabInteriorTemp}}
        </span>
	    </li>
      <li>
        <span>Ambient Air temp (°C): </span>
        <span *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.AMB_AmbientAirTemp)"><n-a></n-a></span>
        <span *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.AMB_AmbientAirTemp)">
            {{llbService.data[0]?.can?.AMB_AmbientAirTemp}}
        </span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="container">
    <span class="header" *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.MOTOR_SlipPercentage)">
      Measured slip percentage (%):
    </span>
    <span class="header" *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.MOTOR_SlipPercentage)">
      Measured slip percentage (%): {{llbService.data[0]?.can?.MOTOR_SlipPercentage}}
    </span>
    
    <n-a-chart *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.MOTOR_SlipPercentage)">
    </n-a-chart>
    <ng-container *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.MOTOR_SlipPercentage)">
      <app-linechart [data]="llbService.data[0]?.MOTOR_SlipPercentage" [min]="0" [max]="100"></app-linechart>     
    </ng-container>
  </div>
  <div class="container">

  </div>
  <div class="container">

  </div>
</div>
