<radial-gauge
    width="250"
    height="250"
    units="%"
    title="Slip percentage"
    min-value="-100"
    max-value="100"
    major-ticks="[-100,-80,-60,-40,-20,0,20,40,60,80,100]"
    minor-ticks="2"
    stroke-ticks="true"
    ticks-angle="225"
    start-angle="67.5"
    color-plate="#fff"
    border-shadow-width="0"
    borders="false"
    needle-type="arrow"
    needle-width="2"
    needle-circle-size="7"
    needle-circle-outer="true"
    needle-circle-inner="false"
    animation-duration="500"
    animation-rule="linear"
    [attr.value]="data"
></radial-gauge>