<div>
	<a><img src="assets/img/busid.png"/></a>
	<a (click)="modal1.show()"><img class="button" src="../../assets/img/default.png"></a>
	<a (click)="modal2.show()"><img class="button" src="../../assets/img/location.png"></a>
	<a (click)="modal3.show()"><img class="button" src="../../assets/img/battery.png"></a>
	<a (click)="modal4.show()"><img class="button" src="../../assets/img/driver.png"></a>
	<a (click)="modal5.show()"><img class="button" src="../../assets/img/battery.png"></a>
</div>
<div>
  <app-modal #modal1>
  <div class="modal-body">
    <button (click)="modal1.hide()">Sulje</button>
    <general-data></general-data>
  </div>
  </app-modal>
  
  <app-modal #modal2>
  <div class="modal-body">
    <button (click)="modal2.hide()">Sulje</button>
    <location-data></location-data>
  </div>
  </app-modal>
  
  <app-modal #modal3>
  <div class="modal-body">
    <button (click)="modal3.hide()">Sulje</button>
    <engine-data> </engine-data>
  </div>
  </app-modal>
  
  <app-modal #modal4>
  <div class="modal-body">
    <button (click)="modal4.hide()">Sulje</button>
    <bus-data> </bus-data>
  </div>
  </app-modal>

  <app-modal #modal5>
  <div class="modal-body">
    <button (click)="modal5.hide()">Sulje</button>
    <battery-data> </battery-data>
  </div>
  </app-modal>
</div>