<div><!-- 3008 3009-->
	<select (change)="selectBus($event.target.value)">
    <option value="1612" selected>1612</option>
    <option value="3008">3008</option>
    <option value="3009">3009</option>
    <option value="9999">9999</option>
  </select>
	<a (click)="showModal(modal1, 1)"><img class="button" src="../../assets/img/default.png"></a>
	<a (click)="showModal(modal2, 2)"><img class="button" src="../../assets/img/location.png"></a>
	<a (click)="showModal(modal3, 3)"><img class="button" src="../../assets/img/battery.png"></a>
	<a (click)="showModal(modal4, 4)"><img class="button" src="../../assets/img/driver.png"></a>
	<a (click)="showModal(modal5, 5)"><img class="button" src="../../assets/img/battery.png"></a>
</div>
<div>
  <app-modal #modal1>
  <div class="modal-body">
    <button (click)="modal1.hide()">Sulje</button>
    <general-data *ngIf="_selectedModal == 1"></general-data>
  </div>
  </app-modal>

  <app-modal #modal2>
  <div class="modal-body">
    <button (click)="modal2.hide()">Sulje</button>
    <location-data *ngIf="_selectedModal == 2"></location-data>
  </div>
  </app-modal>

  <app-modal #modal3>
  <div class="modal-body">
    <button (click)="modal3.hide()">Sulje</button>
    <engine-data *ngIf="_selectedModal == 3"> </engine-data>
  </div>
  </app-modal>

  <app-modal #modal4>
  <div class="modal-body">
    <button (click)="modal4.hide()">Sulje</button>
    <bus-data *ngIf="_selectedModal == 4"> </bus-data>
  </div>
  </app-modal>

  <app-modal #modal5>
  <div class="modal-body">
    <button (click)="modal5.hide()">Sulje</button>
    <battery-data *ngIf="_selectedModal == 5"> </battery-data>
  </div>
  </app-modal>
</div>
