<div class="row">
       
    <div class="container">
        <span class="header">General Information:</span>
        <ul>
            
            <li>
                <span>Bus Id:</span>
                <span>{{llbService.data[0]?.BusId}}</span>
            </li>

            <li>
                <span>Gw Id:</span>
                <span>{{llbService.data[0]?.GwId}}</span>
            </li>
            <!-- THIS NEEDS TO BE FIXED, gives invalid time on 1612 which breaks everything -->
            <!-- <li>
                <span>Position timestamp:</span>
                <span>{{llbService.data[0]?.tsp | date:'d.MM.yyyy, HH:mm:ss'}}</span>
            </li> -->

            <li>Vehicle total driven distance (m):
                <span *ngIf="isNullOrUndefined(llbService.data[1]?.can?.VDHR_HghRslutionTotalVehicleDistance); else totalVehicleDistance"><n-a></n-a></span>
                <span>
                <ng-template #totalVehicleDistance> {{llbService.data[1]?.can?.VDHR_HghRslutionTotalVehicleDistance}} </ng-template>
                </span>
                <br>
            <!--//Resolution 5 m -->
            </li>
        </ul>
    </div>

    <div class="container">
        
        <span class="header">Status of doors:         
            <span *ngIf="llbService.data[0]?.can?.DC1_PosOfDoors == 2">Closed</span>
            <span *ngIf="llbService.data[0]?.can?.DC1_PosOfDoors == 1 || llbService.data[0]?.can?.DC1_PosOfDoors == 0">Open</span>
            
        </span>
                <!-- showing the positions of the doors
                //0 = at least 1 door open,
                1 = last door closing,
                2 = all doors close -->

        <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.DC1_PosOfDoors)"><n-a-chart></n-a-chart></span>
        <img *ngIf="llbService.data[0]?.can?.DC1_PosOfDoors == 2" src="assets/img/closed.png" width="90%" alt="Closed Doors" border="1">
        <img *ngIf="llbService.data[0]?.can?.DC1_PosOfDoors == 1 || llbService.data[0]?.can?.DC1_PosOfDoors == 0" src="assets/img/open.png" width="90%" alt="Open Doors" border="1">

    </div>
    <div class="container">
        
        <span class="header">Wheel chair access ramp status:
            <span *ngIf="llbService.data[0]?.can?.DC1_Ramp_WheelChairLiftPos == 0">Ramp in the bus.</span>
            <span *ngIf="llbService.data[0]?.can?.DC1_Ramp_WheelChairLiftPos == 1">Ramp out.</span>
        </span>
        <!--
            //0 = ramp in the bus, 1 = ramp out
        -->
        
        <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.DC1_Ramp_WheelChairLiftPos)"><n-a-chart></n-a-chart></span>
        <img *ngIf="llbService.data[0]?.can?.DC1_Ramp_WheelChairLiftPos == 0" src="assets/img/rampInD.png" width="90%" alt="Ramp In The Bus" border="1">
        <img *ngIf="llbService.data[0]?.can?.DC1_Ramp_WheelChairLiftPos == 1" src="assets/img/rampOutD.png" width="90%" alt="Ramp Out" border="1">


    </div>
</div>

<div class="row">
    <div class="container">
        
        <!-- useless
            <li>Vehicle ID: {{llbService.data[0]?.can?.VI_VehicleIdentificationNumber}} <br>
            //Currently only sending value "0.1-"</li><br>
        -->

        <span class="header">Vehicle axle weight, axle identifier:</span>
        <br>
            <!--
            Indicates the axle of the measured axle weight in VW_AxleWeight
            Value 0 = front axle
            Value 1 = rear axle
            -->
        <span *ngIf="llbService.data[0]?.can?.VW_AxleLocation == 0">Front Axle</span>
        <span *ngIf="llbService.data[0]?.can?.VW_AxleLocation == 1">Rear Axle</span>
        <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.VW_AxleLocation)" ><n-a></n-a></span>
        <br>
        <br>
        <span>Bus uses air suspension to measure weight, it's not very accurate. </span>
    </div>

    <div class="container">
        <span class="header">Vehicle axle weight: {{llbService.data[0]?.can?.VW_AxleWeight}}kg</span>
        <n-a-chart *ngIf="isNullOrUndefined(llbService.data[0]?.can?.VW_AxleWeight)"></n-a-chart>
        <ng-container *ngIf="!isNullOrUndefined(llbService.data[0]?.can?.VW_AxleWeight)">
            <app-linechart [data]="llbService.data[0]?.can?.VW_AxleWeight/1000"></app-linechart>      
        </ng-container>
    </div>
    <div class="container"> 
        <span class="header">Gross Combination Weight: {{llbService.data[0]?.can?.CVW_GrossCombinationVehicleWeight}}kg</span>
        <n-a-chart *ngIf="isNullOrUndefined(llbService.data[0]?.can?.CVW_GrossCombinationVehicleWeight)"></n-a-chart>
        <ng-container *ngIf="!isNullOrUndefined(llbService.data[0]?.can?.CVW_GrossCombinationVehicleWeight)">                
            <app-linechart [data]="llbService.data[0]?.can?.CVW_GrossCombinationVehicleWeight/1000"></app-linechart>  
        </ng-container>
    </div>
</div>
