<radial-gauge
  width="250"
  height="250"
  units="RPM"
  title="Electric motor"
  min-value="0"
  max-value="4000"
  major-ticks="0,1000,2000,3000,4000"
  minor-ticks="10"
  stroke-ticks="true"
  highlights='[
      {"from": 3000, "to": 4000, "color": "rgba(200, 50, 50, .75)"}
  ]'
  color-plate="#fff"
  border-shadow-width="0"
  borders="false"
  needle-type="arrow"
  needle-width="2"
  needle-circle-size="7"
  needle-circle-outer="true"
  needle-circle-inner="false"
  animation-duration="500"
  animation-rule="linear"
  [attr.value]="data"
  >
</radial-gauge>