body {
  width: 100%;
}
menu {
  width: 100%;
  padding: 0px;
}
header {
	height: 60px;
}
button {
  position:absolute;
  top:0;
  right:0;
}

.warning {
  color: darkred;
}

.success {
  color: darkgreen;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}

#businfo {
  float: right;
  height: 100%;
  vertical-align: middle;
}

#selectbus {
  float: left;
  margin-left: 2em;
  margin-top: 0.5em;
}
#selectbus > select {
  margin-top: 0.5em
}
#selectbus > select > ul {
  margin-top: 0.5em
}

@media screen and (max-width: 900px) {
  header {
    height: 140px;
  }
  .header-second {
    height: 70px;
  }
  .header-second {
    height: 70px;
  }
  #selectbus {
    float: left;
  }
  img {
    width: 220px;
    float: right; 
    height: 55px;
  }
}