body {
  width: 100%;
}
menu {
  width: 100%;
  padding: 0px;
}
header {
	height: 60px;
}
button {
  position:absolute;
  top:0;
  right:0;
}

.warning {
  color: darkred;
}

.success {
  color: darkgreen;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}

#businfo {
  float: right;
  height: 100%;
  vertical-align: middle;
}

#selectbus {
  float: right;
  margin-right: 2em;
}

@media screen and (max-width: 900px) {
  #selectbus {
    float: left;
    margin-left: 2em;
    margin-top: 0.5em;
  }
  img {
    width: 30%;
  }
  select {
    margin-top: 0.5em
  }
  ul {
    margin-top: 0.5em
  }
}