/* You can add global styles to this file, and also import other style files */

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

@media screen and (min-width: 901px) {
	body {
		background-image: url("assets/img/tausta.png");
		background-repeat: repeat-x;
		background-color: #4cb050;
	}
	@keyframes animatedBackground {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 100% 0;
		}
	}
}

@media screen and (max-width: 900px) {
	body {
		background: linear-gradient(225deg, #81d4fa, #0091ea);
	}
}
