<div><!-- 3008 3009-->
	<a (click)="showModal(modal1, 1)"><img class="button" src="../../assets/img/default.png"></a>
	<a (click)="showModal(modal2, 2)"><img class="button" src="../../assets/img/location.png"></a>
	<a (click)="showModal(modal3, 3)"><img class="button" src="../../assets/img/battery.png"></a>
	<a (click)="showModal(modal4, 4)"><img class="button" src="../../assets/img/driver.png"></a>
	<a (click)="showModal(modal5, 5)"><img class="button" src="../../assets/img/battery.png"></a>
</div>
<div>
  <app-modal #modal1>
  <div class="modal-body">
    <button (click)="hideModal(modal1)">Sulje</button>
    <general-data *ngIf="_selectedModal == 1"></general-data>
  </div>
  </app-modal>

  <app-modal #modal2>
  <div class="modal-body">
    <button (click)="hideModal(modal2)">Sulje</button>
    <location-data *ngIf="_selectedModal == 2"></location-data>
  </div>
  </app-modal>

  <app-modal #modal3>
  <div class="modal-body">
    <button (click)="hideModal(modal3)">Sulje</button>
    <engine-data *ngIf="_selectedModal == 3"> </engine-data>
  </div>
  </app-modal>

  <app-modal #modal4>
  <div class="modal-body">
    <button (click)="hideModal(modal4)">Sulje</button>
    <bus-data *ngIf="_selectedModal == 4"> </bus-data>
  </div>
  </app-modal>

  <app-modal #modal5>
  <div class="modal-body">
    <button (click)="hideModal(modal5)">Sulje</button>
    <battery-data *ngIf="_selectedModal == 5"> </battery-data>
  </div>
  </app-modal>
</div>
