<div class="row">
  <div class="container">
    <span class="header">Movement status:</span>
      <ul>
        <li>
          <span>Movement status:</span>
          <span *ngIf="llbService.data[0]?.can?.TCO1_VehicleMotion == 0" class="red">In place</span>
          <span *ngIf="llbService.data[0]?.can?.TCO1_VehicleMotion == 1" class="green">Moving</span>
          <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.TCO1_VehicleMotion)">
            <n-a></n-a>
          </span>
        </li>
        <li>
          <span>Movement direction:</span>
          <ng-container *ngIf="llbService.data[0]?.can?.TCO1_VehicleMotion == 1">
            <span *ngIf="llbService.data[0]?.can?.TCO1_DirectionIndicator == 0" class="green">Forward</span>
            <span *ngIf="llbService.data[0]?.can?.TCO1_DirectionIndicator == 1" class="red">Backwards</span>
            <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.TCO1_DirectionIndicator)">
              <n-a></n-a></span>
          </ng-container>
          <ng-container *ngIf="llbService.data[0]?.can?.TCO1_VehicleMotion == 0">
            <span class="red">In place</span>
          </ng-container>
          <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.TCO1_VehicleMotion)">
              <n-a></n-a></span>
        </li>
        <li><span>Gear position:</span><span>{{getGear()}}</span></li>
      </ul>
  </div>

  <div class="container">
    <div *ngIf="!llbService.isLiveData()">
        <span class="header">Speed of the vehicle (km/h): </span>
        <n-a-gauge></n-a-gauge>
    </div>
    <div *ngIf="llbService.isLiveData()">
        <span class="header">Speed of the vehicle (km/h):</span>
        <ng-container>
          <app-radial-gauge *ngIf="true" [data]="llbService.data[0]?.spd*3.6 < llbService.data[0]?.eps ? 0 : llbService.data[0]?.spd*3.6"></app-radial-gauge>
        </ng-container>
    </div>
    <!-- Old chart for Bus Speed
    <span class="header">Speed of the vehicle (km/h): {{llbService.data[0]?.spd*3.6 | number : '1.2-2'}}</span>
    <n-a-chart *ngIf="!llbService.isLiveData()"></n-a-chart>
    <app-linechart *ngIf="llbService.isLiveData()" [data]="llbService.data[0]?.spd*3.6" [history]="spd_ex"></app-linechart>
    -->
  </div>

  <div class="container">
    <span class="header">Detailed speed information:</span>
      <ul>
        <li>
          <span>Speed (km/h):</span>
          <span *ngIf="llbService.isLiveData()">{{llbService.data[0]?.spd*3.6 | number : '1.2-2'}}</span>
          <span *ngIf="!llbService.isLiveData()"><n-a></n-a></span>
        </li>
        <li>
          <span>Measured from wheels (km/h):</span>
          <span *ngIf="!isNullOrUndefined(llbService.data[0]?.can?.CCVS_WheelBasedVehicleSpeed)">
            {{llbService.data[0]?.can?.CCVS_WheelBasedVehicleSpeed}}
          </span>
          <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.CCVS_WheelBasedVehicleSpeed)">
            <n-a></n-a></span>
        </li>
        <li>
          <span>Tachograph based (km/h):</span>
          <span *ngIf="!isNullOrUndefined(llbService.data[0]?.can?.TCO1_TachographVehicleSpeed)">
            {{llbService.data[0]?.can?.TCO1_TachographVehicleSpeed}}
          </span>
          <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.TCO1_TachographVehicleSpeed)">
            <n-a></n-a></span>
        </li>
        <li>
          <span>Estimated error:</span>
          <span *ngIf="llbService.isLiveData()">{{llbService.data[0]?.eps}}</span>
          <span *ngIf="!llbService.isLiveData()"><n-a></n-a></span>
        </li>
        <li>
          <span>Acceleration (x, y, z):</span>
          <span *ngIf="llbService.isLiveData()">
          ({{llbService.data[0]?.acc[0].in_accel_x}}, {{llbService.data[0]?.acc[0].in_accel_y}}, {{llbService.data[0]?.acc[0].in_accel_z}})
        </span>
          <span *ngIf="!llbService.isLiveData()"><n-a></n-a></span>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="container">
    <span class="header">Accelerator pedal position: {{llbService.data[0]?.can?.DRIVER_AcceleratorPosition}}%</span>
    <n-a-chart *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.DRIVER_AcceleratorPosition)"></n-a-chart>
    <app-pedal-chart *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.DRIVER_AcceleratorPosition)"
                     [data]="llbService.data[0]?.can?.DRIVER_AcceleratorPosition" [name]="'Accelerator'"></app-pedal-chart>
  </div>

  <div class="container">
    <span class="header">Break pedal position: {{llbService.data[0]?.can?.DRIVER_BrakePedalPosition}}%</span>
    <n-a-chart *ngIf="!llbService.isLiveData() || isNullOrUndefined(llbService.data[0]?.can?.DRIVER_BrakePedalPosition)"></n-a-chart>
    <app-pedal-chart *ngIf="llbService.isLiveData() && !isNullOrUndefined(llbService.data[0]?.can?.DRIVER_BrakePedalPosition)"
                     [data]="llbService.data[0]?.can?.DRIVER_BrakePedalPosition" [name]="'Break'"></app-pedal-chart>
  </div>

  <div class="container">
    <span class="header">Detailed pedal/switch information:</span>
      <ul>
        <li>
          <span>Brake pedal:</span>
          <span *ngIf="llbService.data[0]?.can?.CCVS_BrakeSwitch == 0" class="red">not pressed</span>
          <span *ngIf="llbService.data[0]?.can?.CCVS_BrakeSwitch == 1" class="green">pressed</span>
          <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.CCVS_BrakeSwitch)">
            <n-a></n-a>
          </span>
          <!--{{llbService.data[0]?.can?.CCVS_BrakeSwitch}}//0 = paedal not pressed, 1 = pedal pressed--></li>
        <li>
          <span>Parking brake:</span>
          <span *ngIf="llbService.data[0]?.can?.CCVS_ParkingBrakeSwitch == 0" class="red">off</span>
          <span *ngIf="llbService.data[0]?.can?.CCVS_ParkingBrakeSwitch == 1" class="green">on</span>
          <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.CCVS_ParkingBrakeSwitch)">
            <n-a></n-a>
          </span>
          <!--{{llbService.data[0]?.can?.CCVS_ParkingBrakeSwitch}}//0 = pedal not pressed, 1 = pedal pressed--></li>
        <li>
          <span>Road speed limiter:</span>
          <span *ngIf="llbService.data[0]?.can?.EEC2_RoadSpeedLimitStatus == 0" class="red">off</span>
          <span *ngIf="llbService.data[0]?.can?.EEC2_RoadSpeedLimitStatus == 1" class="green">on</span>
          <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.EEC2_RoadSpeedLimitStatus)">
            <n-a></n-a>
          </span>
          <!--{{llbService.data[0]?.can?.EEC2_RoadSpeedLimitStatus}}0 = limiter off, 1 = limiter active NOT USED--></li>
        <li>
          <span>Acceleration limiter:</span>
          <span *ngIf="llbService.data[0]?.can?.EEC2_VhclAccelerationRateLimitStatus == 0" class="red">off</span>
          <span *ngIf="llbService.data[0]?.can?.EEC2_VhclAccelerationRateLimitStatus == 1" class="green">on</span>
          <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.EEC2_VhclAccelerationRateLimitStatus)">
            <n-a></n-a>
          </span>
          <!--{{llbService.data[0]?.can?.EEC2_VhclAccelerationRateLimitStatus}}0 = limiter off, 1 = limiter active--></li>
      </ul>
  </div>
</div>

<div class="row">
  <!-- Inclination -->
  <div class="container">
    <span class="header">Vehicle inclination:</span><br>
    <object id="busicon" class="svgicon" type="image/svg+xml" data="../../assets/img/bus.svg">
      SVG not enabled
    </object>
  </div>

  <!-- Steering wheel -->
  <div class="container">
    <span class="header">Steering wheel angle:</span><br>
    <object id="steeringwheel" class="svgicon" type="image/svg+xml" data="../../assets/img/steeringwheel.svg">
      SVG not enabled
    </object>
    <!--<li>Steering wheel angle (°): {{llbService.data[0]?.can?.DRIVER_SteeringWheelAngle}} <br>
      //Range = -3276...+3276 degrees (steering wheel can be turned multiple turns) This is not yet working</li><br>-->
  </div>

  <!-- Other -->
  <div class="container">
    <ul>
      <li>
        <span>Inclination (x, y, z):</span>
        <span *ngIf="llbService.isLiveData()">
          ({{llbService.data[0]?.inc[0]?.in_incli_x}}, {{llbService.data[0]?.inc[0]?.in_incli_y}}, {{llbService.data[0]?.inc[0]?.in_incli_z}})
        </span>
        <span *ngIf="!llbService.isLiveData()"><n-a></n-a></span>
      </li>
      <li>
        <span>Magnetometer (x, y, z):</span>
        <span *ngIf="llbService.isLiveData()">
          ({{llbService.data[0]?.mgn[0]?.in_magn_x}}, {{llbService.data[0]?.mgn[0]?.in_magn_y}}, {{llbService.data[0]?.mgn[0]?.in_magn_z}})
        </span>
        <span *ngIf="!llbService.isLiveData()"><n-a></n-a></span>
      </li>
      <li>
        <span>Gyroscope (x, y, z):</span>
        <span *ngIf="llbService.isLiveData()">
          ({{llbService.data[0]?.gyr[0]?.in_anglvel_x}}, {{llbService.data[0]?.gyr[0]?.in_anglvel_y}}, {{llbService.data[0]?.gyr[0]?.in_anglvel_z}})
        </span>
        <span *ngIf="!llbService.isLiveData()"><n-a></n-a></span>
      </li>
      <li>
        <span>Driver torque request:</span>
        <span *ngIf="!isNullOrUndefined(llbService.data[0]?.can?.DRIVER_DriverTorqueRequest)">
          {{llbService.data[0]?.can?.DRIVER_DriverTorqueRequest}}</span>
        <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.DRIVER_DriverTorqueRequest)">
          <n-a></n-a></span>
      </li>
      <li>
        <span>Driver torque request:</span>
        <span *ngIf="!isNullOrUndefined(llbService.data[0]?.can?.EEC1_DriversDemandMotorPercentTorque)">
          {{llbService.data[0]?.can?.EEC1_DriversDemandMotorPercentTorque}}</span>
        <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.EEC1_DriversDemandMotorPercentTorque)">
          <n-a></n-a></span>
      </li>
      <li>
        <span>Regeneration lever position:</span>
        <span *ngIf="!isNullOrUndefined(llbService.data[0]?.can?.DRIVER_RegenControlPosition)">
          {{llbService.data[0]?.can?.DRIVER_RegenControlPosition}}</span>
        <span *ngIf="isNullOrUndefined(llbService.data[0]?.can?.DRIVER_RegenControlPosition)">
          <n-a></n-a></span>
      </li>
      <li>
        <span>Rotation from north:</span>
        <span *ngIf="llbService.isLiveData()">{{llbService.data[0]?.mgn[0].in_rot_from_north_magnetic_tilt_comp}}</span>
        <span *ngIf="!llbService.isLiveData()"><n-a></n-a></span>
      </li>
    </ul>
  </div>
</div>

  <!--<li>Driver torque request (%): {{llbService.data[0]?.can?.DRIVER_DriverTorqueRequest}} <br>
  //Positive = torque request, Negative = regeneration</li><br>-->

  <!--<li>Regeneration lever position (%): {{llbService.data[0]?.can?.DRIVER_RegenControlPosition}} <br>
  //Driver can adjust the, strength of the, regeneration</li><br>-->


  <!--<li>Driver torque request (%); {{llbService.data[0]?.can?.EEC1_DriversDemandMotorPercentTorque}} <br>
  //See driver torque request</li><br></ul>-->
