ul {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: table;
  width: 100%;
}

.padtop {
  padding-top: 2em;
}

.padbtm {
  padding-bottom: 2em;
}

.warning {
  color: darkred;
}

.row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}

.container {
  display: table-cell;
  vertical-align: top;
  width: 33%;
}

.green {
  color: darkgreen;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.busicon {
  width: 150px;
  margin: 2em;
}

.middle {
  text-align: center;
}

.header {
  font-weight: bold;
  display: block;
}

mwl-gauge {
  width: 150px;
  height: 150px;
  display: block;
  padding: 10px;
}
mwl-gauge > .gauge > .dial {
  stroke: #eee;
  stroke-width: 20;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 20;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10em;
}

@media screen and (max-width: 900px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
  }
}